/*-------вертикальное меню---------*/
#verticalMenu ul li a {
	position: relative;
	display: block;
	width: 100%;
	line-height: 1.2em;
	box-sizing: border-box;
	font-size: 12px;
	height: 40px;
	color: #1e1e1e;
	padding: 6px 12px;
	background: #e1f8ff;
	text-decoration: none;
	z-index: 15;
}

nav#verticalMenu{  
    width: 75px;
    margin: 0 auto;
}

#verticalMenu .select_menu {
    background: #81e2fa;
}

#verticalMenu ul{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    text-align: center;
}

#verticalMenu ul li{
list-style-type: none;
position: relative;
}

#verticalMenu ul li ul {
    position: absolute;
    top: 0px;
    left: 102%;
    display: none;
    width: 250px;
    border: none;
    text-align: left;
}

#verticalMenu ul li a:hover, #verticalMenu ul li:hover a {
    background: #96eaff;
    border-bottom: 1px solid #91aebd;
}

#verticalMenu ul li:hover > ul {
    display: block;
}

#verticalMenu ul li ul li a:hover, #verticalMenu ul li ul li:hover > a {
    background: #75c1d4;
    color: #fff;
}
#verticalMenu ul li ul{
    border: 1px solid #91aebd;
    box-shadow: 4px 3px 5px gray;
}

nav#verticalMenu,.table_options{
    border: 1px solid #584747;
    box-shadow: 4px 3px 5px gray;
}

/*------popover-------*/

.pop{
    position: absolute;
    border: 1px solid black;
    padding: 10px;
    background: #f0f0f0;
    transform: translateX(-50%);
    left: 83px; 
    width: 250px;
    border-radius: 0.3rem;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.5);
    animation: opacity-in-animate 0.5s ease-in-out;
}

.pop-wraper{
    position: relative;
}

.triangle{
    position: absolute;
    display: block;
    width: 1rem;
    height: 0.5rem;
    transform: translate(-50%,100%);
    left: 23px;
    bottom: 0;
}

.triangle::after,
.triangle::before{
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
    border-width: 0.5rem 0.5rem 0;
}

.triangle::before{
    bottom: 0;
    border-top-color: rgba(0,0,0,1);

}
.triangle::after{
    bottom: 1px;
    border-top-color: #f0f0f0;   
}

input.btn-pop{
    margin: 10px 5px 10px 5px;
    padding: 0 5px 0 5px;
}
/*------popover-------*/

.back{
    background-color:rgb(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    animation: opacity-in-animate 0.5s ease-in-out;
}
.eiedit-square{
    position: relative;
    text-align: center;
}

.eiedit-square >.pop{
    width: 200px;
}

table .form-control{
    padding: 5px;
    min-width: 45px;
}

table .form-select{
    padding: 5px;
    min-width: 45px;
}

.table_options{
    padding: 10px;
	overflow-x: scroll;
}

.table_options > .row{
	width:100%;
}

.table_options table.dataTable{
    border-collapse: collapse !important;
}

.table_options table td, .table_options table th {
    border: 1px solid #888888;
}
 
.table_options table thead th{
    background-color: #d8d8d8;
}

.table_options table thead,
.table_options table tbody {
    border-top: 2px solid currentColor;
}

.table_options table tbody {
    border-bottom: 2px solid currentColor;
}

/*extra column for insert and delete information*/
th.eiedit-select-checkbox{
    vertical-align: middle;
}

td.eiedit-select-checkbox{
    position: relative;
}

td.eiedit-select-checkbox:before{
    content: " ";
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid black;
    border-radius: 3px;
}

td.eiedit-select-checkbox:after,
td.eiedit-select-checkbox:before{    
    position: absolute;
    top: 1.2em;
    left: 50%;
    display: block;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
}

tr.eiedit-selected,
tr.eiedit-selected td.text-input,
tr.eiedit-selected td.checkbox-input{
    box-shadow: inset 0 0 0 9999px rgb(13 181 253 / 95%) !important ;
}

tr.eiedit-selected td.eiedit-select-checkbox:after{
    content: "✓";
    font-size: 20px;
    margin-top: -24px;
    margin-left: -6px;
    text-align: center;
    text-shadow: 1px 1px #b0bed9, -1px -1px #b0bed9, 1px -1px #b0bed9, -1px 1px #b0bed9;

}

.eiedit-select-checkbox{
    width: 15px;
}

/*extra column for insert and delete information*/

h3 {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #0330b4;
}

.btn-transparent {
    color: #6c757d;
    background-color: #fff;
    border-color: #dee2e6;
}

.btn-transparent:hover {
    color: #6c757d;
    background-color: rgb(248, 245, 245);

}

table td.text-input,table td.checkbox-input{
    border-left: 2px solid #888888;
    border-right: 2px solid #888888;
    background-color: aliceblue;
}

/*----Информационные оповещения----*/
.message{
    position: fixed;
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, 
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    box-shadow: 0 0 8px rgba(0,0,0,.3);        
    font:16px 'Open Sans';
    width: 50%;
    bottom: 60px;
    margin: 20px auto;
    padding:15px;
    animation: bg-animate 5s linear infinite, pos-out-animate 0.5s ease-in-out;
}

.message span{font-weight:600;}

.message #close{float:right; color:inherit; text-decoration:none;cursor:default;}

.message#error{
    background-color:tomato;
    border-left:7px #dc3d21 solid;
    color:white;
}
 
.message#warning{
    background-color: #eaaf51;
    border-left:7px #df8b00 solid;
    color:#6b6d31;
}
 
.message#info{
    background-color: #4ea5cd;
    border-left:7px #3b8eb5 solid;
    color:#beecfc;
}
 
.message#success{
    background-color: #61b832;
    border-left:7px #55a12c solid;
    color:#296829;
}

.close{
    left: -50%;
    animation: pos-in-animate 0.5s ease-in-out;
}

.close-back{
    animation: opacity-out-animate 0.5s ease-in-out;
    opacity: 0; 
}
 
@keyframes bg-animate {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

@keyframes pos-out-animate {
    from {
        left: -50%;
    }
    to {
        left: 0;
    }
}

@keyframes pos-in-animate {
    from {
        left: 0;
    }
    to {
        left: -50%;
    }
}

@keyframes opacity-in-animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes opacity-out-animate {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

/*----Информационные оповещения----*/

/*----Модальное окно----*/
.wrap-modal{
    position: fixed;
    width: 640px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-radius: 6px;
    z-index: 102;
    animation: pos-up-animate 0.7s ease-in-out, opacity-in-animate 0.7s ease-in-out;
}

.modal-gradient{
    background: radial-gradient(ellipse farthest-corner at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.header-modal{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;    
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 16px 10px 2px 16px;
}

.footer-modal{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.footer-modal,
.header-modal{
    position:relative;
    height: 52px;
    background-color: #e8e9eb; 
    width: 100%;
}

.body-modal{
    padding: 10px 16px;
    background: #fcfcfc; 
}

.close-modal{
    animation: pos-down-animate 0.7s ease-in-out, opacity-out-animate 0.7s ease-in-out;
}

div.closing_cross{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.closing_cross::after{
    content: "×";
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 22px;
    font-family: "Courier New",Courier,monospace;
}

.closing_cross:hover:after{
    color: black;
}

@keyframes pos-up-animate {
    from {
        top: 45%;
    }
    to {
        top: 50%;
    }
}

@keyframes pos-down-animate {
    from {
        top: 50%;
    }
    to {
        top: 55%;
    }
}
/*----Модальное окно----*/
